<!--====== PRELOADER PART START ======-->

<div class="preloader">
  <div class="loader rubix-cube">
    <div class="layer layer-1"></div>
    <div class="layer layer-2"></div>
    <div class="layer layer-3 color-1"></div>
    <div class="layer layer-4"></div>
    <div class="layer layer-5"></div>
    <div class="layer layer-6"></div>
    <div class="layer layer-7"></div>
    <div class="layer layer-8"></div>
  </div>
</div>
<!--====== PRELOADER PART START ======-->

<!--====== HEADER PART START ======-->
<header id="header-part">
  <div class="navigation navigation-2 header-web">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-10">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
              <img src="assets/img/logo.png" alt="Logo" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div
              class="collapse navbar-collapse sub-menu-bar"
              id="navbarSupportedContent"
              style="padding-left:50px;padding-top:10px;"
            >
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="#programs">Programs</a>
                </li>
                <li class="nav-item">
                  <a routerLink="our-vision">Our Vision</a>
                </li>
                <li class="nav-item">
                  <a href="classroom.html">Our Classroom</a>
                </li>
                <li class="nav-item">
                  <a href="why-little-leap.html">Why Little Leap</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- nav -->
        </div>
        <div class=" col-md-2">
          <div class="right-icon">
            <ul>
              <li><button class="main-btn" type="button">Sign In</button></li>
            </ul>
          </div>
          <!-- right icon -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <router-outlet></router-outlet>
  <div class="navigation navigation-2  header-mobile">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg mobile-navbar-cpm">
            <a class="navbar-brand" href="index.html">
              <img
                src="assets/img/logo.png"
                alt="Logo"
                style="max-width:100%"
              />
            </a>
            <div class="right-icon">
              <ul>
                <li>
                  <button class="main-btn mobile-signup-cpm" type="button">
                    Sign In
                  </button>
                </li>
              </ul>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div
              class="collapse navbar-collapse sub-menu-bar"
              id="navbarSupportedContent"
              style="padding-left:50px;padding-top:10px;"
            >
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="#programs">Programs</a>
                </li>
                <li class="nav-item">
                  <a href="our-mission.html">Our Vision</a>
                </li>
                <li class="nav-item">
                  <a href="classroom.html">Our Classroom</a>
                </li>
                <li class="nav-item">
                  <a href="why-little-leap.html">Why Little Leap</a>
                </li>
                <!-- <li class="nav-item">
                                    <a href="courses.html">Sign In</a>
                                    
                                </li> -->
              </ul>
            </div>
          </nav>
          <!-- nav -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
</header>
<section class="pb-60 decor soft-skills-section-cmp">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 top_decor">
        <img src="assets/img/1.png" />
      </div>
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2>Soft Skills That Make Smart Leaders</h2>
          <p>
            Little Leap students consistently outperform their peers in social
            and emotional maturity, communication skills and cognitive ability
          </p>
        </div>
        <!-- section title -->
      </div>

      <div class="col-lg-2 bottom_decor">
        <img src="assets/img/2.png" />
      </div>
    </div>
  </div>
</section>

<section class="pb-60 get-2-years-ahead-cpm">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <img src="assets/img/graders12.png" alt="graders" class="graders-image-cpm" />
      </div>
      <div class="col-lg-6">
        <div class="section-title get_years_ahead get_years_ahead-text-cpm">
          <h5>GET 2 YEARS AHEAD</h5>
          <h3>Little Leap 5th graders perform better than 7th graders</h3>
          <span
            >*As per evaluation conducted by 3rd party education specialists on
            standardized international formats</span
          >
        </div>
        <!-- section title -->
      </div>
    </div>
  </div>
</section>
<section class="pb-60 excel-soft-skills-cpm">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 excel-in-soft-text-row">
        <div class="section-title excel_soft_skills">
          <h5>EXCEL IN SOFT SKILLS</h5>
          <h3>Learn though active experiential involvement</h3>
          <span
            >Little Leap pedagogy created by child psychologists through
            extensive research empowers children to think, interact and feel
            comfortable to enthusiastically participate</span
          >
        </div>
        <!-- section title -->
      </div>
      <div class="col-lg-6 excel-in-soft-image-row text-center">
        <img
          src="assets/img/soft_skill.png"
          alt="EXCEL IN SOFT SKILLS"
          class="excel-in-soft-image-cpm"
        />
      </div>
    </div>
  </div>
</section>
<section
  class="pb-60"
  style="background-image:url('assets/img/bg.png');background-repeat: no-repeat;
background-size: cover;"
  id="programs"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title pb-50">
          <h2 style="color:black">Programs</h2>
        </div>
        <!-- section title -->
      </div>
      <div class="col-lg-4">
        <div class="singel-course-2">
          <div class="thum">
            <div class="image">
              <img src="assets/img/social_and_emotion.png" alt="Course" />
            </div>
          </div>
          <div class="cont text-center">
            <a href="#"
              ><h4>
                Social and<br />
                Emotional Quotient
              </h4></a
            >
            <span
              >Effortless confidence and comfort, social warmth, compassion and
              adaptability</span
            >
          </div>
        </div>
        <!-- singel course -->
      </div>

      <div class="col-lg-4">
        <div class="singel-course-2">
          <div class="thum">
            <div class="image">
              <img src="assets/img/language.png" alt="Course" />
            </div>
          </div>
          <div class="cont text-center">
            <a href="#"
              ><h4>
                Language and<br />
                Communication Aptitude
              </h4></a
            >
            <span
              >Strong and positive communication skills with a flair for
              confident expression</span
            >
          </div>
        </div>
        <!-- singel course -->
      </div>

      <div class="col-lg-4">
        <div class="singel-course-2">
          <div class="thum">
            <div class="image">
              <img src="assets/img/creative_and_thinking.png" alt="Course" />
            </div>
          </div>
          <div class="cont text-center">
            <a href="#"
              ><h4>
                Creative and<br />
                Critical Thinking
              </h4></a
            >
            <span
              >Curiosity, logical reasoning, problem solving and reflective
              thought process</span
            >
          </div>
        </div>
        <!-- singel course -->
      </div>
    </div>
    <div class="container" style="padding-bottom:10px;">
      <div class="row">
        <div class="col-lg-6 col-12 text-center">
          <div
            class="section-program bg-program"
            style="background-image:url('assets/img/green_btn.png');"
          >
            <h3>Foundations Program</h3>
            <h4>For 1st - 5th standard</h4>
          </div>
          <div>
            Build a strong base of soft skills and life<br />
            skills for primary school children
          </div>
        </div>

        <div class="col-lg-6 text-center">
          <div
            class="section-program bg-program"
            style="background-image:url('assets/img/blue_btn.png');"
          >
            <h3>Middle Years Program</h3>
            <h4>For 6th - 10th standard</h4>
          </div>
          <div>
            Gain confidence in soft skills to get<br />
            an edge over your peers
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg_cover pt-65 pb-110" style="background-color:#006241">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="singel-counter text-center mt-40">
          <h2 class="contact-number-h2-cpm">+91 98103 72980</h2>
          <p class="contact-number-p-cpm">
            Message/Call to join a free workshop near you
          </p>
        </div>
        <!-- singel counter -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<section class="pb-60 apple_book-cmp">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 apple_book_mobile">
        <div class="col-lg-12">
          <div class="singel-course-2">
            <div class="thum">
              <div class="image">
                <img
                  src="assets/img/book1.jpg"
                  alt="Course"
                  class="apple_book-image-cmp"
                />
              </div>
            </div>
          </div>
          <!-- singel course -->
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12">
            <div class="singel-course-2">
              <div class="thum">
                <div class="image">
                  <img
                    src="assets/img/little_leap-1.png"
                    alt="Course"
                    class="apple_book-child-images-cpm"
                  />
                </div>
              </div>
              <div class="cont text-center">
                <h5>
                  Little Leap students stay ahead of their class by 2 years
                </h5>
              </div>
            </div>
            <!-- singel course -->
          </div>

          <div class="col-lg-12">
            <div class="singel-course-2">
              <div class="thum">
                <div class="image">
                  <img
                    src="assets/img/9_out-1.png"
                    alt="Course"
                    class="apple_book-child-images-cpm"
                  />
                </div>
              </div>
              <div class="cont text-center">
                <h5>
                  9 out of 10 Little Leap students show an improvement in soft
                  skills quotient
                </h5>
              </div>
            </div>
            <!-- singel course -->
          </div>
        </div>
      </div>

      <div class="col-lg-6 apple_book_web">
        <div class="col-lg-12 ">
          <div class="singel-course-2">
            <div class="thum">
              <div class="image">
                <img src="assets/img/book1.jpg" alt="Course" />
              </div>
            </div>
          </div>
          <!-- singel course -->
        </div>
      </div>

      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12">
            <div class="singel-course-2">
              <div class="thum">
                <div class="image">
                  <img
                    src="assets/img/3_out-1.png"
                    alt="Course"
                    class="apple_book-child-images-cpm"
                  />
                </div>
              </div>
              <div class="cont text-center">
                <h5>
                  3 out of 4 Little Leap students bag honours and awards in
                  debates and popular communication competitions
                </h5>
              </div>
            </div>
            <!-- singel course -->
          </div>

          <div class="col-lg-12">
            <div class="singel-course-2">
              <div class="thum">
                <div class="image">
                  <img
                    src="assets/img/student_show-1.png"
                    alt="Course"
                    class="apple_book-child-images-cpm"
                  />
                </div>
              </div>
              <div class="cont text-center">
                <h5>
                  Student show 2X increase in emotional quotient, spoken english
                  and logical reasoning within 6 months at Little Leap
                </h5>
              </div>
            </div>
            <!-- singel course -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="pb-60"
  style="background-image:url('assets/img/bg-2.png'); background-repeat: no-repeat;
background-size: cover;"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title pb-50">
          <h2 style="color:black">How are we Different?</h2>
        </div>
        <!-- section title -->
      </div>
      <div class="col-lg-4">
        <div class="singel-course-2">
          <div class="thum">
            <div class="image">
              <img src="assets/img/expertise.png" alt="Course" />
            </div>
          </div>
          <div class="cont text-center">
            <a href="#"><h4>Expertise</h4></a>
            <span
              >Curriculum designed by expert child psychologists, teachers and
              child counselors</span
            >
          </div>
        </div>
        <!-- singel course -->
      </div>

      <div class="col-lg-4">
        <div class="singel-course-2">
          <div class="thum">
            <div class="image">
              <img src="assets/img/active.png" alt="Course" />
            </div>
          </div>
          <div class="cont text-center">
            <a href="#"><h4>Active Learning</h4></a>
            <span
              >Students learn better because they learn through interaction and
              participation</span
            >
          </div>
        </div>
        <!-- singel course -->
      </div>

      <div class="col-lg-4">
        <div class="singel-course-2">
          <div class="thum">
            <div class="image">
              <img src="assets/img/personlization.png" alt="Course" />
            </div>
          </div>
          <div class="cont text-center">
            <a href="#"><h4>Personalization</h4></a>
            <span
              >Unique learning plan for every student through AI based
              customization</span
            >
          </div>
        </div>
        <!-- singel course -->
      </div>

      <div class="col-lg-4">
        <div class="singel-course-2">
          <div class="thum">
            <div class="image">
              <img src="assets/img/live.png" alt="Course" />
            </div>
          </div>
          <div class="cont text-center">
            <a href="#"><h4>Live and Interactive</h4></a>
            <span>Expert trainer always present to ensure better learning</span>
          </div>
        </div>
        <!-- singel course -->
      </div>

      <div class="col-lg-4">
        <div class="singel-course-2">
          <div class="thum">
            <div class="image">
              <img src="assets/img/small_batch.png" alt="Course" />
            </div>
          </div>
          <div class="cont text-center">
            <a href="#"><h4>Small Batch Size</h4></a>
            <span
              >Expert in-person facilitation with 5x more attention than
              school</span
            >
          </div>
        </div>
        <!-- singel course -->
      </div>

      <div class="col-lg-4">
        <div class="singel-course-2">
          <div class="thum">
            <div class="image">
              <img src="assets/img/playfull.png" alt="Course" />
            </div>
          </div>
          <div class="cont text-center">
            <a href="#"><h4>Playful Engagement</h4></a>
            <span
              >Fun class environment, students love to come to class instead of
              avoiding it</span
            >
          </div>
        </div>
        <!-- singel course -->
      </div>
    </div>
  </div>
</section>

<footer id="footer-part">
  <div class="footer-copyright pt-10 pb-25">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright text-md-left text-center pt-15">
            <p>&copy; Copyrights 2020 Little Leap. All rights reserved.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="copyright text-md-right text-center pt-15">
            <p>
              <i class="fa fa-phone"></i>&nbsp;+91-9810372980&nbsp;|&nbsp;

              <i class="fa fa-envelope"></i>&nbsp;info@littleleap.co.in
            </p>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- footer copyright -->
</footer>
<!--====== BACK TO TP PART START ======-->
    
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    
<!--====== BACK TO TP PART ENDS ======-->

